/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	height: 100vh;
	display: grid;
	grid-template-rows: 1fr 50px;
	
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 1. COLORS */

:root {
	--black: #000000;
	--white: #fff;
}

/* 2. COMMON STYLES */

:root {
	font-family: sans-serif;
}

/* 3. MAIN MENU SCREEN */

.main-menu-container {
	display: grid;
	margin: 100px;
}

/* 3.1 Title container */

.title-container {
	display:flex;
	align-items: center;
	justify-content: center;
}

h1 {
	font-size: 6em;
	font-weight: bold;
	color: var(--white);
	background: var(--black);
	padding: 0.5ch 1ch;
	border-radius: 2ch 0.5ch;
}

/* 3.2 Settings container */

.settings-container {
	display: grid;
	background-color: var(--black);
	border-radius: 50px;
}

/* 3.2.1 Selection container */

.selection-container {
	display: grid;
	grid-template-columns: 1fr 1fr;

}

.opponent-selector,
.victories-selector {
	display: flex;
	align-items: center;
	justify-content: center;
}

.names-input {
	grid-column-start: 1;
	grid-column-end: 3;
	display: flex;
	align-items: center;
	justify-content:space-evenly;
}

/* 3.2.2 Start container */

.start-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* 4. GAME SCREEN */

.game-container {
	display: grid;
	grid-template-rows: 1fr 1fr 8fr;
	width: 700px;
	justify-self: center;
}

/* 4.1 Game header */

.game-settings {
	display: flex;
	align-items: end;
}

.game-score {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.player-one-label,
.player-two-label,
.score-label {
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	font-size: 2em;
}

.score-label {
	font-size: 4em;
}

/* 4.2 Game board */

.game-board {
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	grid-template-columns: repeat(3, 1fr);
	margin: 50px;
}

.grid-cell {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 9em;
	font-weight: bold;
}

#cell2,
#cell5,
#cell8 {
	border-left: 10px solid var(--black);
	border-right: 10px solid var(--black);
} 

#cell4,
#cell5,
#cell6 {
	border-top: 10px solid var(--black);
	border-bottom: 10px solid var(--black);
} 

#cell1,
#cell2,
#cell3 {
	margin-top: 20px;
}

#cell7,
#cell8,
#cell9 {
	margin-bottom: 20px;
}

#cell1,
#cell4,
#cell7 {
	margin-left: 20px;
}

#cell3,
#cell6,
#cell9 {
	margin-right: 20px;
}

/* 5. FOOTER */

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--black);
	color: var(--white);
}

a {
	color: var(--white);
}

/* 6. DISPLAY CONTROL */

.inactive {
	display: none;
}